.movie-genre{

    font-size: 18px;
    color: white;
    padding: 5px 10px;
    background-color: grey;
    font-weight: 400;
    border-radius: 9px;
    letter-spacing: 1px;
    margin-right: 15px;
    margin-bottom: 5px;
}