.navbar{
    display: flex;
    align-items: center;

    .navLink{
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
        margin-right: 50px;
        display: inline-block;
        text-decoration: none;
        transition: all ease .3s;

        &:hover{
            opacity: .7;
        }

        &:last-child{
            margin-right: 0;
        }
    }
}