.movie-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
   
}

.single-movie-section{
    padding-top: 50px;
    background-color: #16151A;
    
    .section-title{
        color: #f1f1f1;
        text-transform: uppercase;
        font-weight: 550;
        font-size: 16px;
        letter-spacing: 1px;
        margin-bottom: 25px;

    }

    .single-movie-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .single-movie-top-left{
        box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.836);
        transition: all ease .3s;

        &:hover{
            box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.836);
        }

    }

    .single-movie-top-right{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        text-align: center;
        
        .movie-title{
            margin-bottom: 25px;
            font-size: 35px;
            color: #dbdbdb;
            letter-spacing: 1px;
        }

        .movie-date,
        .movie-duration{
            margin-bottom: 10px;
            font-size: 18px;
            color: #e3e3e9;
            font-weight: 500;
        }

        .movie-duration{
            margin-bottom: 25px;
        }

        .genre{
            color: #f1f1f1;
            text-transform: uppercase;
            font-weight: 550;
            font-size: 16px;
            letter-spacing: 1px;
            margin-bottom: 0px;
        }

        .genre-holder{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
        }
    }

    .movie-overview{
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 40px;
        line-height: 30px;
        color: rgb(192, 159, 159);
        text-shadow: .1px .2px .4px rgb(177, 151, 151);
    }

    .actor-title{
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        margin-bottom: 40px;
    }

    .movie-actor-holder{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-bottom: 40px;

    }
    
}

