.header{

    .headerTop{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logoWrapper{
            display: flex;
            align-items: center;
            text-decoration: none;

            .kiwiLogo{
                width: 67px;
                height: 67px;
                margin-right: 14px;
            }

            .logoText{
                font-family: Gilroy;
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: 17px;
                color: #000000;
            }
        }

        .headerTopRight{
            display: flex;
            align-items: center;
            
            .languages{
                display: flex;
                align-items: center;
                margin-right: 66px;

                .langs{
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #4A4A4A;

                    .stick{
                        margin: 0 20px;
                    }
                }
            }

            .logIn{
                display: flex;

                .logOut{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 17px;
                    line-height: 21px;
                    color: #4E72CA;
                    text-decoration: none;

                    &:hover{
                        opacity: .9;
                    }

                    .stick{
                        margin: 20px;
                    }
                }
            }
        }
    }
}
