.overview-graph{
    display: flex;
    justify-content: space-between;
    border: 1px;
    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 8px;
    align-items: flex-start;
    margin-bottom: 30px;

    // .graph-left{
    //     display: flex;
    //     flex-direction: column;
    //     width: 70%;
    // }

    // .graph-right-side{
    //     width: 30%
    // }
}