.tickets-item{
    width: 100%;
    background-color: #fff;
    // border: 1px solid #DFE0EB;
    border-radius: 8px;

    
}
.overview{
    
    &-top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
}

.overview-bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}